@viewport {
  width: device-width;
  zoom: 1;
}

html {
  min-width: 390px;
  min-height: 700px;
  background-image: url("background.png");
}

#container {
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  width: 410px;
  height: 480px;
  margin-top: 90px;
  text-align: center;
  font: 50px Arial, sans-serif;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(221, 221, 208);
  box-shadow: rgba(27, 27, 56, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(4, 20, 36, 0.35) 0px -2px 6px 0px inset;
}

.boxes {
  display: block;
  width: 120px;
  height: 80px;
  margin: 20px;
  cursor: pointer;
  padding-top: 25px;
  border-radius: 5px;
  animation: tada;
  animation-duration: 2s;
  box-shadow: rgba(61, 61, 85, 0.25) 0px 50px 100px -20px,
    rgba(56, 56, 56, 0.3) 0px 30px 60px -30px,
    rgba(74, 74, 75, 0.35) 0px -2px 6px 0px inset;
  float: left;
  border: 1px solid;
}

.boxes:hover {
  transition-duration: 0.1s;
  background-color: #838383;
}

.boxes:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(185, 185, 185);
}

.boxes:active:after {
  box-shadow: 0 0 0 0 rgb(143, 142, 142);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.showBox {
  display: block;
}

.hideBox {
  display: none;
}

.highlight {
  border: "5px solid green";
}

.buttons {
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 60px;
  border: 2px solid;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  animation: tada;
  animation-duration: 2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.buttons:hover {
  transition-duration: 0.1s;
  background-color: #838383;
}

.buttons:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(139, 139, 139);
}

.buttons:active:after {
  box-shadow: 0 0 0 0 rgb(121, 120, 120);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

#instructions {
  position: absolute;
  font-size: 20px;
  margin-left: 6%;
  margin-top: -10%;
}

#solutions {
  position: sticky;
  font: 25px Arial, sans-serif;
  left: 55%;
  top: 480px;
  margin-left: 36%;
  margin-top: 585px;
  min-width: 550px;
}

#box0 {
  position: absolute;
  left: 35px;
}

#box1 {
  position: absolute;
  right: 35px;
}

#box2 {
  position: absolute;
  top: 145px;
  left: 35px;
}

#box3 {
  position: absolute;
  top: 145px;
  right: 35px;
}

#add {
  position: absolute;
  bottom: 100px;
  left: 30px;
  font-size: 30px;
  line-height: 0px;
}

#subtract {
  position: absolute;
  bottom: 100px;
  left: 120px;
  font-size: 30px;
  line-height: 0px;
}

#multiply {
  position: absolute;
  bottom: 100px;
  left: 210px;
  font-size: 30px;
  line-height: 0px;
}

#divide {
  position: absolute;
  bottom: 100px;
  left: 300px;
  font-size: 30px;
  line-height: 0px;
}

#button5 {
  position: absolute;
  bottom: 25px;
  left: 30px;
  line-height: 30px;
  font-size: 19px;
}

#button6 {
  position: absolute;
  display: inline-block;
  width: 165px;
  height: 60px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  bottom: 25px;
  left: 120px;
  line-height: 55px;
}

#button6 {
  pointer-events: none;
  cursor: pointer !important;
  text-decoration: None !important;
}

#button7 {
  position: absolute;
  bottom: 25px;
  left: 210px;
}

#button8 {
  position: absolute;
  bottom: 25px;
  left: 300px;
  font-size: 23px;
  line-height: 55px;
}
